@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

.changeittoblueone{
    background-image: url(/svg/Banner\ \(1\).svg);
    margin-left: 10%;
}
.changeittoblue{
    background-image: url(/svg/Banner\ \(1\).svg);
    background-size: cover;
}

.navbar-brand {
    font-size: 25px;
    margin-left: 6%;
}

.navbar{
    /* margin-left: 5%; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 47px;
    -webkit-text-fill-color: #ffffff;

}

.navbar-nav{
    padding-left: 10%;
    margin-left: 5%;
}


.thestartedbtn {
    border: none;
    border-radius: 70px;
    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    width: 200px;
    height: 64px;
    margin-top: 5%;
    -webkit-text-fill-color: #FFFFFF;
    margin-bottom: 5%;
}



.octafx {
    width: 60%;
}

@media screen and (max-width: 580px) {
    .octafx {
        display: none;
    }

    .Revenuepart h3 {
        width: 80%;
    }
    
}

.Revenuepart {
    margin-left: 7%;
}


.Revenuepart h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #E1E1E1;
    display: flex;
}

.Revenuepart p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #E1E1E1;
}

.Revenue-li {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 13.75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: dashed;
    -webkit-text-fill-color: #FFFFFF;
}

.amapiano {
    display: flex;
    margin: 5%;
    justify-content: center;
    gap: 5%;
}

@media screen and (max-width: 580px) {
    .amapiano {
        display: block;
    }
    
}

.papilo {
    margin-right: 5%;
    margin-top: 7%;
}

.papilo-p {
    font-family: 'Nunito Sans';
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.papilo h3 {
    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.papilo-pp {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #979797;
}

.youcantouchmybanana {
    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    border-radius: 4px;
    width: 164px;
    height: 53px;
    border: none;
}
.phychoYP {
    margin-left: 10%;
    width: 50%;
}

@media screen and (max-width: 580px) {
    .phychoYP {
        width: 80%;
    }

}

.myoppositiondeybananadeysetup {
    display: flex;
}

.packages-part {
    text-align: center;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   */
}

.packages-part h5 {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.packages-part h4 {
    color: #262626;
    font-family: Nunito Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}



.packages-cont {
    display: grid;
    /* justify-content: space-evenly; */
    margin-left: 2%;
    /* gap: -5%; */
    margin: 16%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
}

.packages-cont-foot {
    background: #FCFAED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    width: 285px;
    height: 500px;
    margin-top: 2%;
    margin-right: 1%;
}

.packages-cont-foot h3 {
    color: #294199;
    font-family: Pacifico;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.Alphaojini-three-two {
    background: #294199;
    box-shadow: 0px 4px 4px #6A6A6A;
    border-radius: 21px;
    width: 285px;
    height: 550px;
}

.Simplify-Three {
    background: #FCFAED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    width: 285px;
    height: 500px;
    margin-top: 2%;
    margin-left: 1%;
}

.blendify-btn {
    border-radius: 154px;
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    width: 164px;
    height: 45px;
    flex-shrink: 0;
    border: none;
    -webkit-text-fill-color: #FFFFFF;
}

.rockify-btn {
    border-radius: 154px;
    width: 164px;
    height: 45px;
    flex-shrink: 0;
    -webkit-text-fill-color: #F79E0E;
    border: #F79E0E;
}

.simplify-btn {
    border-radius: 154px;
    width: 164px;
    height: 45px;
    flex-shrink: 0;
    -webkit-text-fill-color: #F79E0E;
    border: #F79E0E;
}


/* MORE WE OFFER */

.moreweoffer {
    justify-content: space-between;
    display: flex;
    margin: 10%;
}

@media screen and (max-width: 580px) {
    .moreweoffer {
        display: block;
    }

    .moreweoffer img {
        width: 70%;
    }
    
}

.purgeme {
  margin-left: 5%;
}

.purgeme h5 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    /* background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%); */
    -webkit-text-fill-color: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    color: #EEBD23;
}

.purgeme h4 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;
    color: #404041;
}

.allin {
    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    border-radius: 4px;
    width: 164px;
    height: 40px;
    flex-shrink: 0;
    border: none;
}

.imovebyresult {
    display: flex;
}

.imovebyresult h3 {
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.igottomakeupforthosetimesmamacried {

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-transform: capitalize;
    color: #404041;
}

.imovebyresult-img {
    width: 5%;
}

.imovebyresult-p {
    margin-top: 5%;
    margin-left: 5%;
}

/* SItE CONTENT */


.sitecontent {
    text-align: center;
}

.sitecontent-img {
    width: 7%;
    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    border-radius: 100%;
    /* height: fit-content; */
    padding: 1%;
    
}

.siteimgpart {
    margin-right: 2%;
}

.sitecontent-img-div {
    margin-left: 15%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 580px) {
    .sitecontent-img-div {
        display: block;
    }
    
}

.thesitecontent {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    -webkit-text-fill-color: #F79E0E;
}

.ourportfolio {
    text-align: center;
    background: #FAFBFD;
    height: inherit;
    padding: 5%;
}



.Website-videos {
    display: flex;
    /* margin-left: 40%; */
    justify-content: center;
    gap: 5%;
    margin: 2%;
}


.website-design {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background: none;
}

.Advertising-videos {
    color: #C6C6C6;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
}

.card {
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 15px;
    width: 290px;
    height: 320px;
    align-items: center;
    margin-left: 3%;
}

.card-part {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* margin-left: 13%; */
    margin-bottom: 5%;
    grid-gap: 2%;
}


/* POPULARLY ASKED QUESTIONS */

.popularly-asked-Question {
    text-align: center;
    padding: 5%;
}

.popularly-asked-Question h5 {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popularly-asked-Question h3 {
    color: #262626;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popularly-asked-Question p {
    color: #979797;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 153.333% */
}


.the-footer h3{
    color: #000;
    font-family: Ibarra Real Nova;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
}

.popular-asked {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

@media screen and (max-width: 580px) {
    .popular-asked {
        display: block;
    }

    .popularly-asked-Question {
        margin-top: 20%;
    }
    
}


/* The newsletter */

.Newsletter-part {
    text-align: center;
    background: #FAFBFD;
    width: 100%;
    height: inherit;
    padding: 2%;
}

.Newsletter-part h5 {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Newsletter-part h3 {
    color: #262626;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Newsletter-part p {
    color: #979797;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 153.333% */
}

.Newsletter-btn {
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    width: 161px;
    height: 49px;
    flex-shrink: 0;
    border: none;
}

.form-control {
    width: 50%;
    height: 49px;
    flex-shrink: 0;
}

.form-group {
    display: flex;
    /* margin-left: 20%; */
    justify-content: center;
}

/* Footer */

.the-big-footer {
    display: flex;
}

.social-logo {
    display: flex;
    justify-content: start;
    gap: 10%;
    margin: 5%;
}


@media screen and (max-width: 580px) {
    .the-big-footer {
        display: block;
    }
    
}

.the-footer-beginning {
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
    background: #262A4E;
    width: screen;
    height: inherit;
}

@media screen and (max-width: 580px) {
    .the-footer-beginning {
        display: block;
    }
    
}



.footer-detlify h3 {
    color: #F79E0E;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-detlify p {
    color: #DADADA;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.75px; /* 156.25% */
}

.the-footer-ul h5 {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 116.667% */
    background: var(--gr-1, linear-gradient(131deg, #F79E0E 0%, #EEBD23 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.the-footer-ul li {
    -webkit-text-fill-color: #DADADA;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    list-style: none;
}

.the-copyright-part {
    text-align: center;
    background: #262A4E;
    padding: 1%;
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}